<!DOCTYPE html>
<html lang="en">

<head>

    {% include "head_part.html" %}

    <link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bem-vindo de Volta!</h1>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <div>
                                        <p class="errornote">
                                            Está autenticado como {{user.get_username}}, mas não está autorizado a aceder a esta página.
                                            Gostaria de entrar noutra conta de utilizador?
                                        </p>
                                    </div>
                                    {% endif %}
                                    <form class="user" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <input class="form-control form-control-user" name="username"
                                                id="exampleInputUsername" aria-describedby="usernameHelp"
                                                placeholder="Introduza o nome de utilizador...">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user"
                                                name="password" id="exampleInputPassword" placeholder="Palavra-passe">
                                        </div>
                                        {% if error %}
                                        <div class="form-group">
                                           
                                        </div>
                                        {% endif %}
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input type="checkbox" class="custom-control-input" id="customCheck">
                                                <label class="custom-control-label" for="customCheck">Lembrar-se de
                                                    Mim</label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-user btn-block">
                                            Iniciar Sessão
                                        </button>
                                    </form>
                                    <hr>
                                    <div class="text-center">
                                        <a class="small" href="forgot-password.html">Esqueceu-se da Palavra-passe?</a>
                                    </div>
                                    <div class="text-center">
                                        <a class="small" href="register.html">Crie uma conta!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/static/vendor/jquery/jquery.min.js"></script>
    <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/static/js/sb-admin-2.min.js"></script>

</body>

</html>