        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">DEISI 237</div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item {% if filename == "index" %}active{% endif %}">
                <a class="nav-link" href="/index.html">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Painel</span></a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">
            <!-- Heading -->

            
            <li class="nav-item {% if collapse == "Items" %}active{% endif %}">
                <a class="nav-link collapsed" href="# " data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Itens</span>
                </a>
                <div id="collapse1" class="collapse {% if collapse == "Items" %}show{% endif %}" aria-labelledby="heading1" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item {% if filename == "Itens" %}active{% endif %}" href="/items/">Itens</a>
                        <a class="collapse-item {% if filename == "Inventário" %}active{% endif %}" href="/inventario/">Inventário</a>
                        <a class="collapse-item {% if filename == "Armazéns" %}active{% endif %}" href="/armazens/">Armazéns</a>
                    </div>
                </div>
            </li>


            <!-- Nav Item - Pages Collapse Menu -->

            <li class="nav-item {% if collapse == "Sales" %}active{% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    <i class="fas fa-fw fa-handshake"></i>
                    <span>Vendas</span>
                </a>
                <div id="collapse2" class="collapse {% if collapse == "Sales" %}show{% endif %}" aria-labelledby="heading2" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item {% if filename == "Clientes" %}active{% endif %}" href="/clientes/">Clientes</a>
                        <a class="collapse-item {% if filename == "Faturas" %}active{% endif %}" href="/faturas/">Faturas</a>
                    </div>
                </div>
            </li>


            <li class="nav-item {% if collapse == "Customers" %}active{% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    <i class="fas fa-fw fa-shopping-cart"></i>
                    <span>Compras</span>
                </a>
                <div id="collapse3" class="collapse {% if collapse == "Customers" %}show{% endif %}" aria-labelledby="heading3" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item {% if filename == "Fornecedores" %}active{% endif %}" href="/fornecedores/">Fornecedores</a>
                        <a class="collapse-item {% if filename == "Faturas" %}active{% endif %}" href="/faturas/">Faturas</a>
                        <a class="collapse-item {% if filename == "Encomendas" %}active{% endif %}" href="/encomendas/">Encomendas</a>
                        <a class="collapse-item {% if filename == "Pagamentos" %}active{% endif %}" href="/pagamentos/">Pagamentos</a>
                    </div>
                </div>
            </li>			


            <li class="nav-item {% if collapse == "HR" %}active{% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
                    <i class="fas fa-fw fa-users"></i>
                    <span>Recursos Humanos</span>
                </a>
                <div id="collapse4" class="collapse {% if collapse == "HR" %}show{% endif %}" aria-labelledby="heading4" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item {% if filename == "Funcionários" %}active{% endif %}" href="/funcionarios/">Funcionários</a>
                        <a class="collapse-item {% if filename == "Cargos" %}active{% endif %}" href="/cargos/">Cargos</a>
                        <a class="collapse-item {% if filename == "Turnos" %}active{% endif %}" href="/turnos/">Turnos</a>
                    </div>
                </div>
            </li>
			
			

            <li class="nav-item {% if collapse == "Banking" %}active{% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapse5">
                    <i class="fas fa-fw fa-dollar-sign"></i>
                    <span>Banco</span>
                </a>
                <div id="collapse5" class="collapse {% if collapse == "HR" %}show{% endif %}" aria-labelledby="heading5" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item {% if filename == "Funcionários" %}active{% endif %}" href="/funcionarios/">Funcionários</a>
                        <a class="collapse-item {% if filename == "Cargos" %}active{% endif %}" href="/cargos/">Cargos</a>
                    </div>
                </div>
            </li>			


			<li class="nav-item {% if filename == "Relatórios" %}active{% endif %}">
                <a class="nav-link " href="/relatorios/">
                    <i class="fas fa-fw fa-chart-pie"></i>
                    <span>Relatórios</span></a>
            </li>

            <li class="nav-item {% if filename == "Tarefas" %}active{% endif %}">
                <a class="nav-link " href="/tarefas/">
                    <i class="fas fa-fw fa-clipboard-list"></i>
                    <span>Tarefas</span></a>
            </li>

            <li class="nav-item {% if filename == "Calendário" %}active{% endif %}">
                <a class="nav-link " href="/calendario/">
                    <i class="fas fa-calendar"></i>
                    <span>Calendário</span></a>
            </li>

            <li class="nav-item {% if filename == "Mensagens Privadas" %}active{% endif %}">
                <a class="nav-link " href="/mensagens/">
                    <i class="fas fa-envelope"></i>
                    <span>Mensagens Privadas</span></a>
            </li>


			<hr class="sidebar-divider">


            <li class="nav-item {% if collapse == "Settings" %}active{% endif %}">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse6" aria-expanded="true" aria-controls="collapse6">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Definições</span>
                </a>
                <div id="collapse6" class="collapse {% if collapse == "Settings" %}show{% endif %}" aria-labelledby="heading6" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item {% if filename == "Iva" %}active{% endif %}" href="/iva/">Taxas IVA</a>
                    </div>
                </div>
            </li>	


			<hr class="sidebar-divider">


            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->
