<!DOCTYPE html>
<html lang="en">

<head>

    {% load crispy_forms_tags %}
    {% include "head_part.html" %}

    <!-- Custom styles for this page -->
    <link href="/static/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {% include "sidebar_part.html" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {% include "topbar_part.html" %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="row py-4 align-items-center">
                        <div class="col-xs-12 col-sm-4 col-md-5 align-items-center">
                            <h2 class="d-inline-flex mb-0 long-texts">Página de perfil:  {{user.username}}</h2>
                        </div>
                    </div>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-body">
                            <h5 class="d-inline-flex mb-0">Username:</h5><p>{{user.username}}</p>
                            <h5 class="d-inline-flex mb-0 long-texts">E-mail:</h5><p>{{user.email}}</p>
                            <h5 class="d-inline-flex mb-0 long-texts">Primeiro nome:</h5><p>{{user.first_name}}</p>
                            <h5 class="d-inline-flex mb-0 long-texts">Último nome:</h5><p>{{user.last_name}}</p>

                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            {% include "footer_part.html" %}


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {% include "modals_and_scripts_part.html" %}

    <!-- Page level plugins -->
    <script src="/static/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="/static/vendor/datatables/dataTables.bootstrap4.min.js"></script>

    <!-- Page level custom scripts -->

</body>

</html>